<NETREMOTE>
    <REMOTE TYPE="12" PATH="16,1" DEFQUEUE="0" USTRING="bridge" NOTIFYIPSUPPORT="1"/>
    <REMOTE TYPE="46" PATH="135,5" DEFQUEUE="0" USTRING="mesh" NOTIFYIPSUPPORT="1"/>
    <REMOTE TYPE="3" PATH="93,1" DEFQUEUE="0" USTRING="vrrp" STATUS="false"/>
    <REMOTE TYPE="50" PATH="109,2" DEFQUEUE="0" USTRING="vif" NOTIFYIPSUPPORT="1" STATUS="false"/>
    <REMOTE TYPE="65" PATH="130,5" DEFQUEUE="0" USTRING="macsec" NOTIFYIPSUPPORT="1"/>
    <REMOTE TYPE="47" PATH="44,180" DEFQUEUE="0" USTRING="vpls" NOTIFYIPSUPPORT="1"/>
    <REMOTE TYPE="69" PATH="16,32" DEFQUEUE="0" USTRING="extport" NOTIFYIPSUPPORT="1"/>
    <REMOTE TYPE="47" PATH="44,154" DEFQUEUE="0" USTRING="vpls" NOTIFYIPSUPPORT="1"/>
</NETREMOTE>