nf_tables
nf_tables
nf_tables
ip_vs
nf_tables
ip_vs
overlay:	exportfs
nf_defrag_ipv4nf_tproxy_ipv4nf_tproxy_ipv6nf_tables
apex:	gasket
ip_set
nf_natnf_tables
nf_tables
ip_vs
ip_set
nfnetlinknf_tablesx_tables
nf_conntrack_sipip_vs
ip_vs
x_tables
ip_set
ip_vs
nf_synproxy_corenf_tables
nf_natnf_tables
ip_vs
nf_conncountnf_tables
nf_socket_ipv4nf_socket_ipv6nf_tables
ip_vs
ip_vs
nf_tables
nf_natnf_tables
videobuf2-vmalloc:	videobuf2-memops
ip_vs
ip_set
ip_vs
nf_natip_vs
ip_vs
nf_tables
ip_set
ip_set
nf_tables
ip_vsx_tables
nf_tables
nf_tables
ip_set
ip_set
ip_set
ip_set
ip_set
videobuf2-v4l2:	videodev videobuf2-common
nfnetlink
ip_set
ip_vs
nf_tables
ip_set
nf_reject_ipv4nf_reject_ipv6nf_tablesnft_reject
x_tables
ip_set
ip_set
nfnetlink
ip_set
nf_natnf_tables
nf_dup_netdevnf_tables
uvcvideo:	videodev videobuf2-common videobuf2-v4l2 videobuf2-vmalloc
nfnetlink_osfnf_tables
nf_tables
nfnetlink
ip_vs
nf_tables
nf_dup_netdevnf_tables
nfnetlink
