<SERVERS>
    <SERVER NAME="www-ssl" SSL="true">
        <SERVLET TYPE="index" PATH="/" FILE="true"/>
        <SERVLET TYPE="jsproxy" PATH="/jsproxy"/>
        <SERVLET TYPE="dir" PATH="/" DIR="/home/web"/>
        <SERVLET TYPE="dir" PATH="/assets/" DIR="/home/web/assets" CACHE="true"/>
        <SERVLET TYPE="dir" PATH="/help/" DIR="/home/web/help"/>
        <SERVLET TYPE="dir" PATH="/webfig/list" DIR="/home/web/webfig/list"/>
        <SERVLET TYPE="dir" PATH="/webfig/" DIR="/home/web/webfig" CACHE="true"/>
        <SERVLET TYPE="dir" PATH="/crl" DIR="/rw/cm/ca_crl"/>
        <SERVLET TYPE="rest" PATH="/rest"/>
        <SERVLET TYPE="remote" PATH="/graphs" REMOTE="25,100"/>
        <SERVLET TYPE="pubdir" PATH="/files" DIR="/var/pckg"/>
    </SERVER>
    <SERVER NAME="www">
        <SERVLET TYPE="index" PATH="/" FILE="true"/>
        <SERVLET TYPE="jsproxy" PATH="/jsproxy"/>
        <SERVLET TYPE="dir" PATH="/" DIR="/home/web"/>
        <SERVLET TYPE="dir" PATH="/assets/" DIR="/home/web/assets" CACHE="true"/>
        <SERVLET TYPE="dir" PATH="/webfig/list" DIR="/home/web/webfig/list"/>
        <SERVLET TYPE="dir" PATH="/webfig/" DIR="/home/web/webfig" CACHE="true"/>
        <SERVLET TYPE="dir" PATH="/crl" DIR="/rw/cm/ca_crl"/>
        <SERVLET TYPE="rest" PATH="/rest"/>
        <SERVLET TYPE="remote" PATH="/graphs" REMOTE="25,100"/>
        <SERVLET TYPE="remote" PATH="/scep" REMOTE="19,14"/>
        <SERVLET TYPE="remote" PATH="/.well-known/acme-challenge" REMOTE="147,2"/>
        <SERVLET TYPE="pubdir" PATH="/files" DIR="/var/pckg"/>
    </SERVER>
    <SERVER NAME="fileshare-www-ssl" SSL="true">
        <SERVLET TYPE="remote" PATH="/" REMOTE="156,3"/>
    </SERVER>
</SERVERS>